#dynamic_box_center_2{
    display: block;
    float: left;
    height:auto;
    margin-left: 10px;
    margin-top: 6px;
    padding-right: 9px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

#box_center_holder_2{
    display: block;
    height: auto;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

.box_breadcrumb{
    display: block;
    height: auto;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 6px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;

    color: rgb(102, 102, 102);
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.breadcrumbs{
    display: block;
    height: auto;
    padding-left: 0px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;

    color: rgb(102, 102, 102);

    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 12px;
    margin-block-start: 12px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
}

.breadcrumbs li{
    display: inline;
    height: auto;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;

    color: rgb(102, 102, 102);

    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.breadcrumbs li a{
    display: inline;
    height: auto;
    padding-right: 4px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    text-decoration-color: rgb(172, 83, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;

    color: rgb(172, 83, 0);
    cursor: pointer;

    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.breadcrumbs .bold{
    display: inline;
    height: auto;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: left;

    color: rgb(102, 102, 102);

    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.category_holder
{
    display: block; 
    height: auto;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

#category_holder h1{
    display: block;
    height: auto;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 4px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;

    color: rgb(23, 41, 115);
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 3px;

    margin-block-end: 12px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.box_body{
    display: block;
    height: auto;
    width: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

.box_body .short{
    display: block;
    height: auto;
    margin-bottom: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;

    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.box_body .short .short_holder{
    display: block;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
}

.box_body .short .short_holder h2{
    display: block;
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 4px;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: justify;

    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.box_body .short .short_holder h2 a{
    display: inline;
    height: auto;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: justify;
    text-decoration-color: rgb(172, 83, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;

    color: rgb(172, 83, 0);
    cursor: pointer;
}

.box_body .short .short_holder .article_category_info{
    clear: both;
    display: inline;
    height: auto;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    text-align: justify;

    color: rgb(102, 102, 102);
}

.box_body .short .short_holder .article_category_info a{
    display: inline;
    height: auto;
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    text-align: justify;
    text-decoration-color: rgb(102, 102, 102);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;

    color: rgb(102, 102, 102);
    cursor: pointer;
}

#box_pagination{
    clear: left;
    display: block;
    height: 14px;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 6px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    width: 99%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;

    color: rgb(102, 102, 102);
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(238, 238, 238);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
}

#box_pagination .pagination{
    display: block;
    float: right;
    height: 14px;
    width: 132.312px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: left;

    color: rgb(102, 102, 102);
}

#box_pagination .pagination a{
    display: inline;
    height: auto;
    width: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    text-decoration-color: rgb(201, 4, 4);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;

    color: rgb(201, 4, 4);
    cursor: pointer;
}

#box_pagination .pagination_total{
    display: inline;
    height: auto;
    width: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;

    color: rgb(201, 4, 4);
}