$color-main: #78000f;
a:hover{
	text-decoration: none;
}
.header{
	.banner{
		a{
			display: block;
		}
		img{
			max-width: 100%;
		}
	}
	.header-bottom{
		.menu-top{
			border-bottom: 0.5px solid #ccc;
			ul{
				margin: 0px;
				padding: 0px;
				> li {
					display: inline-block;	
					list-style: none;
					position: relative;
					a{
						font-family: arial, verdana;
					    text-transform: uppercase;
					    font-size: 14px;
					    font-weight: bold;
					    padding: 15px 25px;
					    text-shadow: none;
					    color: #000;
					    line-height: 24px;	
					    display: block;	
					    &:hover{
					    	text-decoration: none;
					    }
						position: relative;
						&:after{
					    	content: "";
				    	    position: absolute;
				    	    left: 0;
				    	    right: 0;
				    	    bottom: 0;
				    	    opacity: 0;
				    	    border-bottom: 3px solid;
				    	    transform: scale(0) translateZ(0);
				    	    -webkit-transition: -webkit-transform .45s ease,opacity .55s ease;
				    	    -moz-transition: -moz-transform .45s ease,opacity .55s ease;
				    	    -ms-transition: -ms-transform .45s ease,opacity .55s ease;
				    	    -o-transition: -o-transform .45s ease,opacity .55s ease;
				    	    transition: transform .45s ease,opacity .55s ease;
					    }
					}
					&:hover{
						>a{
							color: $color-main;
							&:after{
								opacity: 1;
								transform: scale(1) translateZ(0);
								color: $color-main;
							}
						}
					    > ul{
							display: block;
						    opacity: 1;
						    visibility: visible;
						    top: 100%;
						}
					}
					> ul{
						top: 120%;
					    opacity: 0;
					    visibility: hidden;
					    display: block;
					    transition: all ease .3s;
					    padding: 0;
					    margin: 0;
					    position: absolute;
				        z-index: 999;
					    -moz-box-shadow: 3px 3px 6px rgba(0,0,0,.3);
					    box-shadow: 3px 3px 6px rgb(0 0 0 / 30%);
					    border-left: 1px transparent solid;
					    min-width: 200px;
					    li{
					    	position: relative;
					    	white-space: nowrap;
					    	display: block;
					    	a{
					    		font-size: 12px;
					    		padding: 6px 8px 6px 10px;
					    		text-transform: capitalize;
					    		&:after{
					    			content: none;
					    		}
					    	}
					    	&:hover{
					    		background: #E8E8E8;	
					    		> ul{
					    			display: block;
					    		}
				    		}
				    		> ul{
				    			position: absolute;
				    			top: 0 !important;
				    			left: 100%;
				    			background: white;
				    			display: none;
				    		}
					    }
					}
					&.icon-home{
						a{
							color: transparent;
							position: relative;	
							&:before{
						    	left: 8px;
							    width: 20px;
							    height: 20px;
							    content: "\f015";
							    font: normal normal normal 14px/1 FontAwesome;
							    font-size: 20px;
							    display: inline-block;
							    border: none;
							    position: absolute;
							    top: 0;
							    left: 0;
							    right: 0;
							    bottom: 0;
							    margin: auto;
							    color: #000;
							    opacity: 1;
							    transform: scale(1) translateZ(0);
						    }
						}
						&:hover{
							>a{
								&:after{
									color: $color-main;
									opacity: 1;
									transform: scale(1) translateZ(0);
								}
							}
						}
					}
				}
			}
		}
	}
}

.breadcrumb{
	background: none;
	a{
		position: relative;
		background: linear-gradient(#3bb7c3,#1e88e5);
	    color: #fff;
	    height: 30px;
	    line-height: 30px;
	    padding: 0px 15px;
	    font-size: 14px;
	    text-transform: uppercase;
	    border-radius: 0;
	    font-weight: bold;
	    font-family: Arial, Helvetica, sans-serif;
	    &:after{
	    	border-color: #1e88e5 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
    	    position: absolute;
    	    content: "";
    	    width: auto;
    	    height: auto;
    	    bottom: -20px;
    	    margin-left: -10px;
    	    left: 50%;
    	    top: 100%;
    	    border-width: 10px;
    	    border-style: solid;
	    }
	}
}