@charset "UTF-8";
body {
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

.header .banner a {
  display: block;
}
.header .banner img {
  max-width: 100%;
}
.header .header-bottom {
  position: relative;
}
.header .header-bottom .right {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
.header .header-bottom .right > div {
  padding: 17px 15px;
}
.header .header-bottom .right > div:last-child {
  padding-right: 10px;
}
.header .header-bottom .right .icon-search:hover, .header .header-bottom .right .icon-user:hover {
  cursor: pointer;
}
.header .header-bottom .right .icon-search i, .header .header-bottom .right .icon-user i {
  font-size: 17px;
  color: #333;
}
.header .header-bottom .right .icon-search {
  position: relative;
}
.header .header-bottom .right .form-search {
  padding: 10px;
  position: absolute;
  top: 130%;
  border-top: 2px solid #78000f;
  width: 250px;
  background: white;
  right: 0px;
  z-index: 999;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.header .header-bottom .right .form-search.active {
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.header .header-bottom .right .form-search #search {
  width: 100%;
  padding: 8px 10px;
  padding-right: 45px;
  border-radius: 0px;
  font-size: 13px;
  border: 1px solid #efefef;
}
.header .header-bottom .right .form-search #search:focus {
  outline: none;
}
.header .header-bottom .right .form-search #search::placeholder {
  font-style: italic;
}
.header .header-bottom .right .form-search .btn-search {
  border-radius: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #78000f;
  border: transparent;
}
.header .header-bottom .right .form-search .btn-search i {
  color: white;
}
.header .header-bottom .menu-top {
  padding-right: 80px;
  border-bottom: 0.5px solid #ccc;
}
.header .header-bottom .menu-top .menu > li:first-child a {
  padding-left: 0;
}
.header .header-bottom .menu-top ul {
  margin: 0px;
  padding: 0px;
}
.header .header-bottom .menu-top ul > li {
  display: inline-block;
  list-style: none;
  position: relative;
}
.header .header-bottom .menu-top ul > li a {
  font-family: arial, verdana;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 25px;
  text-shadow: none;
  color: #000;
  line-height: 24px;
  display: block;
  position: relative;
}
.header .header-bottom .menu-top ul > li a:hover {
  text-decoration: none;
}
.header .header-bottom .menu-top ul > li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-bottom: 3px solid;
  transform: scale(0) translateZ(0);
  transition: transform 0.45s ease, opacity 0.55s ease;
}
.header .header-bottom .menu-top ul > li:hover > a {
  color: #78000f;
}
.header .header-bottom .menu-top ul > li:hover > a:after {
  opacity: 1;
  transform: scale(1) translateZ(0);
  color: #78000f;
}
.header .header-bottom .menu-top ul > li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header .header-bottom .menu-top ul > li > ul {
  background: white;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: all ease 0.3s;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 999;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  border-left: 1px transparent solid;
  min-width: 200px;
}
.header .header-bottom .menu-top ul > li > ul li {
  position: relative;
  white-space: nowrap;
  display: block;
}
.header .header-bottom .menu-top ul > li > ul li a {
  font-size: 12px;
  padding: 6px 8px 6px 10px;
  text-transform: capitalize;
}
.header .header-bottom .menu-top ul > li > ul li a:after {
  content: none;
}
.header .header-bottom .menu-top ul > li > ul li:hover {
  background: #E8E8E8;
}
.header .header-bottom .menu-top ul > li > ul li:hover > ul {
  display: block;
}
.header .header-bottom .menu-top ul > li > ul li > ul {
  position: absolute;
  top: 0 !important;
  left: 100%;
  background: white;
  display: none;
}
.header .header-bottom .menu-top ul > li.icon-home a {
  color: transparent;
  position: relative;
}
.header .header-bottom .menu-top ul > li.icon-home a:before {
  left: 8px;
  width: 20px;
  height: 20px;
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  display: inline-block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #000;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
.header .header-bottom .menu-top ul > li.icon-home:hover > a:after {
  color: #78000f;
  opacity: 1;
  transform: scale(1) translateZ(0);
}

.breadscumb-row {
  margin-top: 20px;
}
.breadscumb-row .title-home {
  background: none;
}
.breadscumb-row .title-home a {
  display: inline-block;
  position: relative;
  background: linear-gradient(#94646a, #78000f);
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.breadscumb-row .title-home a:after {
  border-color: #78000f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  content: "";
  width: auto;
  height: auto;
  bottom: -20px;
  margin-left: -10px;
  left: 50%;
  top: 100%;
  border-width: 10px;
  border-style: solid;
}
.breadscumb-row .marquee-list .item-marquee {
  display: inline-block;
  margin-right: 50px;
}
.breadscumb-row .marquee-list .item-marquee a {
  color: #000;
}
.breadscumb-row .marquee-list .item-marquee a:hover {
  color: #78000f;
}
.breadscumb-row #current-time {
  color: #78000f;
}

.post-home .left {
  float: left;
  width: 60%;
}
.post-home .right {
  float: right;
  width: 40%;
  max-height: 445px;
  overflow-y: scroll;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.post-home .image {
  position: relative;
}
.post-home .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.post-home .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
}
.post-home .item-post-right {
  padding-left: 10px;
  margin-bottom: 10px;
}
.post-home .item-post-right .image {
  float: left;
  width: 80px;
  display: inline-block;
}
.post-home .item-post-right .image .wrap-image {
  padding-top: 75%;
}
.post-home .item-post-right .title {
  float: right;
  display: inline-block;
  width: calc(100% - 90px);
}
.post-home .item-post-right .child {
  padding-bottom: 10px;
  border-bottom: 1px dashed #d1d1d1;
}
.post-home .item-post-right:last-child .child {
  border: none;
}
.post-home a {
  display: block;
  color: #404041;
}
.post-home a.active {
  color: #78000f;
}
.post-home .title:hover {
  color: #78000f !important;
}
.post-home .item-post-left {
  padding-right: 10px;
}
.post-home .item-post-left .title {
  margin-top: 5px;
  display: block;
  border-bottom: none;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  font-family: RobotoBold;
  color: #404041;
  font-style: normal;
  margin-bottom: 0px;
}
.post-home .item-post-left .wrap-image {
  padding-top: 55%;
}

.title-header {
  display: block;
  margin-bottom: 25px;
  border-bottom: 2px solid #78000f;
}
.title-header .main {
  color: #fff;
  font-family: arial, verdana;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  top: 0px;
  padding: 6px 16px 5px 13px;
  background: #78000f;
  margin-left: 0;
}
.title-header .main:after {
  border-color: #78000f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  width: auto;
  height: auto;
  bottom: -20px;
  margin-left: -10px;
  left: 50%;
  top: 100%;
  border-width: 10px;
  border-style: solid;
}
.title-header.custom {
  margin-bottom: 0px;
  background: #94646a;
}

.content-left .list-child-category {
  float: right;
}
.content-left .list-child-category a {
  display: inline-block;
  padding: 5px 8px;
  color: #888888;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: none !important;
  border: none !important;
}
.content-left .item-post-left .image {
  position: relative;
}
.content-left .item-post-left .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.content-left .item-post-left .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.content-left .item-post-left .image .wrap-image img:hover {
  transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
.content-left .item-post-left .des {
  color: #404041;
}
.content-left .item-post-left .title {
  margin: 10px 0px;
  display: block;
  border-bottom: none;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  font-family: RobotoBold;
  color: #404041;
  font-style: normal;
}
.content-left .item-post-left .title:hover {
  color: #78000f;
}
.content-left .item-post-right .child {
  margin-bottom: 10px;
}
.content-left .item-post-right .child .box-post-child {
  display: block;
  color: #404041;
  margin-bottom: 15px;
}
.content-left .item-post-right .child .box-post-child:hover {
  color: #78000f;
}
.content-left .item-post-right .child .box-post-child .image {
  width: 100px;
  float: left;
  position: relative;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image img:hover {
  transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
.content-left .item-post-right .child .box-post-child .title {
  float: right;
  width: calc(100% - 110px);
}

.sidebar .owl-carousel-sidebar {
  height: 150px;
  overflow: hidden;
}
.sidebar .suggetion-video ul {
  margin: 0px;
  padding: 0px;
  max-height: 150px;
  overflow-y: scroll;
}
.sidebar .suggetion-video ul li {
  list-style: none;
  font-size: 12px;
  padding: 5px;
}
.sidebar .suggetion-video ul li.active {
  background: #ececec;
}
.sidebar .suggetion-video ul li span:first-child {
  display: inline-block;
  margin-right: 10px;
}
.sidebar .suggetion-video .item-video-suggetion {
  position: relative;
}
.sidebar .suggetion-video .item-video-suggetion:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sidebar .suggetion-video .item-video-suggetion:hover:after {
  cursor: pointer;
}
.sidebar .marquee-sidebar-advertisement {
  height: 720px;
}
.sidebar .marquee-sidebar-advertisement .item-marquee img {
  max-width: 100%;
}
.sidebar .link-website {
  padding: 20px 10px;
  background: #94646a;
}
.sidebar .link-website select {
  max-width: 100%;
  padding: 7px 10px;
}
.sidebar .link-website select:focus {
  outline: none;
}

.footer .advertisement-footer {
  padding-bottom: 25px;
  border-bottom: 1px solid #bfd87c;
}
.footer .advertisement-footer .marquee-sidebar-advertisement {
  height: auto;
}
.footer .advertisement-footer .item-marquee {
  display: inline-block;
}
.footer .advertisement-footer .item-marquee img {
  height: 90px;
  width: auto;
  margin-right: 10px;
}
.footer .footer-bottom {
  margin-top: 30px;
  background: #78000f;
}
.footer .footer-bottom .top {
  padding-top: 7px;
  margin-bottom: 7px;
  display: flex;
}
.footer .footer-bottom .top .menu-footer ul {
  margin: 0px;
  padding: 0px;
}
.footer .footer-bottom .top .menu-footer ul li {
  display: inline-block;
  list-style: none;
}
.footer .footer-bottom .top .menu-footer ul li a {
  display: block;
  color: white;
  padding: 7px 15px;
}
.footer .footer-bottom .top .menu-footer ul li:first-child a {
  padding-left: 0px;
}
.footer .footer-bottom .top .list-social {
  display: flex;
}
.footer .footer-bottom .top .list-social > div {
  width: 32px;
  padding: 7px;
  background: white;
  margin-right: 7px;
  text-align: center;
  transition: all 0.4s;
}
.footer .footer-bottom .top .list-social > div:hover {
  transition: all 0.4s;
  background: #94646a;
}
.footer .footer-bottom .top .list-social > div:hover i {
  color: white;
}
.footer .footer-bottom .top .list-social > div i {
  color: #78000f;
}
.footer .footer-bottom .container {
  background-image: url("../img/bg-footer.png");
  background-size: cover;
  width: 100%;
}
.footer .footer-bottom .contact {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.26);
}
.footer .footer-bottom .contact > div {
  color: white;
}

.box-post .left {
  position: relative;
}
.box-post .left .image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.box-post .left .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.box-post .right .title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: arial, robotobold;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 20px;
  line-height: 28px;
}
.box-post .right .title a {
  color: #1c1c1c;
}
.box-post .right .title a:hover {
  text-decoration: underline;
}

.line-pagination {
  margin-top: 20px;
  border-top: 1px dashed #8a8a8a;
  padding-top: 10px;
}

.pagination-category {
  text-align: center;
}
.pagination-category .pagination {
  display: inline-flex;
}
.pagination-category .pagination .page-numbers {
  margin: 0px 3px;
  padding: 3px 10px;
  background: #eaecef;
  border-radius: 2px;
  color: #78000f;
  display: inline-block;
  line-height: 23px;
  transition: all ease 0.3s;
}
.pagination-category .pagination .page-numbers.current {
  background: #78000f;
  color: white;
}
.pagination-category .pagination .next > div:after {
  content: "";
}
.pagination-category .pagination .prev > div:after {
  content: "";
}
.pagination-category .pagination .next > div, .pagination-category .pagination .prev > div {
  width: 10px;
  padding-right: 5px;
  height: 20px;
  position: relative;
  text-align: center;
}
.pagination-category .pagination .next > div:after, .pagination-category .pagination .prev > div:after {
  position: absolute;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  line-height: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.data-empty {
  width: 80%;
  margin: auto;
  font-size: 25px;
  margin-top: 50px;
}

.post-detail {
  margin-top: 50px;
}
.post-detail .title {
  color: #78000f;
  font-size: 23px !important;
  font-family: Roboto, verdana, Avo;
}
.post-detail .time-create-date {
  border-bottom: 1px solid #efefef;
  padding-bottom: 7px;
}

.tag-post {
  padding: 10px 0px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 30px;
}
.tag-post .tag-name {
  padding: 4px;
  margin-right: 5px;
  background: #78000f;
  display: inline-block;
  color: white;
  margin-bottom: 5px;
}
.tag-post .title-tag {
  color: white;
  background: #78000f;
  display: inline-block;
  padding: 4px;
  padding-right: 7px;
  padding-left: 30px;
  position: relative;
}
.tag-post .title-tag:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-right: 15px #78000f solid;
  border-top: 15px white solid;
  border-bottom: 14px white solid;
}
.tag-post .title-tag:before {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #F6F6F6;
  top: 12px;
  left: 15px;
  content: "";
  z-index: 99;
}

.related-post {
  padding: 10px 0px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 30px;
}
.related-post .post-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #e8e8e8;
}
.related-post .post-item:after {
  position: absolute;
  left: 5px;
  top: 0px;
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  background: #57677d;
  border-radius: 1px;
  margin-right: 4px;
  margin: 7px 10px 2px 0;
}
.related-post .post-item a {
  color: #333;
}
.related-post .post-item a:hover {
  color: #78000f;
}
.related-post .post-item:last-child {
  border-bottom: none;
}