@charset "UTF-8";
@font-face {
  font-family: arial;
  src: url("../font/arial.ttf");
}
@keyframes marquee {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
body {
  font-family: arial !important;
  font-size: 14px;
  background: #efefef;
}
#box-body.container{
  background: white;
  box-shadow: 0px 3px 11px -1px #555555;
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

.header .banner a {
  display: block;
}
.header .header-top{
  width: 100%;
  display: block;
  padding: 0;
}
.header .header-top .image{
  position: relative;
}
.header .header-top img {
  width: 100%;
  max-height: auto;
  object-fit: cover;
}
.header .header-top .link{
  width: 100%;
  height: 30px;
  display: block;
  position: relative;
  padding:5px 0 5px 0 ;
}
.header .header-top .link .link-group{
  width: 230px;
  height: 100%;
  display: flex;
  float: right;
}
.header .header-top .link .link-group > a{
  padding: 2px 5px 0 5px;
  color: #AC5300;
}
.header .header-top .link .link-group > p{
  color: #AC5300;
}
.header .header-top .box{
  width: 100%;
  display: block;
  position: relative;

}
.header .header-top .form-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.header .header-top .form-search .box-input{
  height: 30px;
  border: 1px solid #ddd;
  
}
.header .header-top .form-search .box-input:focus{
  outline: none;
}
.header .header-top .form-search  .box-input .aaa{
  background-color:#AC5300 !important;
}

.header .header-bottom {
  display: block;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 0;
  background: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/menu.gif) repeat-x top left;
  background-size: contain;
}

.header .header-bottom .menu-menu-main-container{
  display: block;
}
.header .header-bottom .menu-menu-main-container .menu{
  width: 100%;
  display: block;
  padding: 5px !important;
  margin: 0;
}
.header .header-bottom .menu-menu-main-container .menu li{
  list-style: none;
}
.header .header-bottom .menu-menu-main-container .menu > li{
  display: inline-block;
  position: relative;
  padding-right: 5px;
  background: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/mainnav-sep.gif) no-repeat right bottom;
}
.header .header-bottom .menu-menu-main-container .menu li:hover > a{
  background-color: #BF620C;
  color: white; 
}
.header .header-bottom .menu-menu-main-container .menu> li a{
  display: block;
  padding: 2px 10px 1px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-decoration: none;
  color: #8A0000 ;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
}
.header .header-bottom .menu-menu-main-container .menu > li > a{
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  display: block;
}

.header .header-bottom .menu-menu-main-container .menu li .sub-menu{
  display: none;
  margin-top: 20px;
  padding-left: 0 !important;
  background-color: #AC5300 ;
  z-index: 3;
  width: 200px;
}
.header .header-bottom .menu-menu-main-container .menu li:hover > .sub-menu{
  display: block;
  margin: 0;
}
.header .header-bottom .menu-menu-main-container .menu > li > .sub-menu{
  position: absolute;
}
.header .header-bottom .menu-menu-main-container .menu li .sub-menu li{
  width: 100%;
  height: 100%;
}
.header .header-bottom .menu-menu-main-container .menu li .sub-menu li .sub-menu{
  margin-left: 190px;
  margin-top: 0;
  right: -100%;
  top: 0;
  position: absolute;
}

.header .header-bottom .menu-menu-main-container .menu li .sub-menu a{
  color: white;
  display: block;
  padding: 5px 10px;
  width: 100%;
  text-transform: unset;
}
.header .header-bottom .menu-menu-main-container .menu li .sub-menu li:hover{
  background-color: #BF620C;
  color: white; 
  position: relative;
}

.header .header-bottom .right {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
.header .header-bottom .right .box-right {
  display: flex;
}
.header .header-bottom .right > div {
  padding: 17px 15px;
}
.header .header-bottom .right > div:last-child {
  padding-right: 10px;
}
.header .header-bottom .right .icon-search {
  position: relative;
}
.header .header-bottom .right .icon-search:hover {
  cursor: pointer;
  cursor: pointer;
}
.header .header-bottom .right .icon-search i {
  font-size: 20px;
  color: #333;
}
.header .header-bottom .right .icon-user:hover {
  cursor: pointer;
  cursor: pointer;
}
.header .header-bottom .right .icon-user i {
  font-size: 20px;
  color: #333;
}
.header .header-bottom .right .icon-menu {
  position: relative;
}
.header .header-bottom .right .icon-menu:hover {
  cursor: pointer;
  cursor: pointer;
}
.header .header-bottom .right .icon-menu i {
  font-size: 20px;
  color: #333;
}
.header .header-bottom .right .form-search {
  padding: 10px;
  position: absolute;
  top: 130%;
  border-top: 2px solid #78000f;
  width: 250px;
  background: white;
  right: 0px;
  z-index: 999;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.header .header-top .form-search #search {
  width: calc(100% - 80px);
  padding: 8px 10px;
  border-radius: 0px;
  font-size: 13px;
  border: 1px solid #efefef;
}
.header .header-top  .form-search #search:focus {
  outline: none;
}
.header .header-top .form-search #search::placeholder {
  font-style: italic;
}
.header .header-top  .form-search .btn-search {
  border-radius: 0px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 70px;
  border-radius: 5px;
  background: #EAAC64;
  border: transparent;
  position: absolute;
}
.header .header-top  .form-search .btn-search .fa-search{
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .header-top .form-search .btn-search i {
  color: white;
}
.header .header-top  .form-search.active {
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.breadscumb-row {
  margin-top: 20px;
}
.breadscumb-row .title-home {
  background: none;
}
.breadscumb-row .title-home a {
  display: inline-block;
  position: relative;
  background: linear-gradient(#94646a, #78000f);
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: bold;
  font-family: roboto;
}
.breadscumb-row .title-home a:after {
  border-color: #78000f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  content: "";
  width: auto;
  height: auto;
  bottom: -20px;
  margin-left: -10px;
  left: 50%;
  top: 100%;
  border-width: 10px;
  border-style: solid;
}
.breadscumb-row .marquee-list .item-marquee {
  display: inline-block;
  margin-right: 50px;
}
.breadscumb-row .marquee-list .item-marquee a {
  color: #000;
}
.breadscumb-row .marquee-list .item-marquee a:hover {
  color: #78000f;
}
#current-time {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #666666;
  font-weight: bold;
}
.post-home .left {
  background-color:  #eee;
}
.post-home .right .box_title_holder{
  width: 100%;
  background: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/box_right_head_right.gif) top right no-repeat;
}
.post-home .right .box_title_holder .box_title{
  background: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/box_right_head_left.gif) top left no-repeat;
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 3px 6px;
  position: relative;
}
.post-home .right .box_title_holder .box_title h4{
  font-size: 16px;
  font-weight: bold;
  color: #8A0000;
  padding: 6px 0px;
  margin-bottom: 4px;
  text-shadow: rgb(187, 187, 187) 1px 1px 1px;
}
.post-home .right .box_title_holder .box_title h4 span{
  float: right;
  text-align: center;
  font-size: 12px;
  color: #666666;
  margin-top: 2px;
  line-height: 22px;
  text-shadow:  rgb(187, 187, 187) 1px 1px 1px;
}
.post-home .right .box_body .box_content{
  background: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/box_right_body_right.gif) top left no-repeat;
  border: 1px solid #ddd;
  border-left: none;
  height: 100%;
}
.post-home .right .box_body .box_content .box_item{
  background: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/box_right_body_left.gif) top left no-repeat;
  padding: 0px 6px 0px 6px;
  height: auto;
  text-align: justify;
  overflow: hidden;
  width: 100%;
} 
.post-home .right .box_body .box_content .box_item a{
  color: #AC5300;
  text-decoration: none;
  line-height: 20px;
} 
.post-home .right .box_body .box_content .box_item a:hover{
  text-decoration-line:underline;
  text-decoration-color: #AC5300;
  text-decoration-style: solid;
} 
.post-home .right .box_body .box_content .box_item a b{
  font-size: 12px;
  font-weight: 700;
}

#box_center_holder_2{
  display: block;
  height: auto;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}
#box_center_holder_2 .parent{
  color: #172973;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 4px;
  margin-bottom: 12px;
  border-bottom: 3px solid #EEEEEE;
}

#box_center_holder_2 .child{
  font-size: 16px;
  font-weight: 700;
  color: #8A0000;
  border-bottom: 1px solid #eee;
  padding: 4px 0px;
  margin-bottom: 4px;
  text-shadow: 1px 1px 1px #bbbbbb;
}

.box_body{
  display: block;
  height: auto;
  width: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}

.box_body .short{
  display: block;
  height: auto;
  margin-bottom: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;

  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.box_body .short .short_holder{
  display: block;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: justify;
}

.box_body .short .short_holder h2{
  display: block;
  height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: justify;

  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}

.box_body .short .short_holder h2 a{
  display: inline;
  height: auto;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: justify;
  text-decoration-color: rgb(172, 83, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;

  color: rgb(172, 83, 0);
  cursor: pointer;
}







.post-home .image {
  position: relative;
}
.post-home .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.post-home .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
}
.post-home .item-post-right {
  padding-left: 10px;
  margin-bottom: 10px;
}
.post-home .item-post-right .image {
  float: left;
  width: 80px;
  display: inline-block;
}
.post-home .item-post-right .image .wrap-image {
  padding-top: 75%;
}
.post-home .item-post-right .title {
  float: right;
  display: inline-block;
  width: calc(100% - 90px);
}
.post-home .item-post-right .child {
  padding-bottom: 10px;
  border-bottom: 1px dashed #d1d1d1;
}
.post-home .item-post-right:last-child .child {
  border: none;
}
.post-home a {
  display: block;
  color: #404041;
}
.post-home a.active {
  color: #78000f;
}
.post-home .title:hover {
  color: #AC5300 !important;
  text-decoration-line:underline;
  text-decoration-color: rgb(172, 83, 0);
  text-decoration-style: solid;

}
.post-home .item-post-left .title {
  margin-top: 5px;
  display: block;
  border-bottom: none;
  font-weight: 700;
  font-size: 14px;
  color: #8A0000;
  font-style: normal;
  text-align: left;
  margin-bottom: 0px;
}
.post-home .item-post-left .des{
  margin-bottom: 2px !important;
}
.post-home .item-post-left .detail_link{
  text-align: right;
  color: #AC5300;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #faf7f7 ;
  border-bottom-style: ridge;
}
.post-home .item-post-left .detail_link:hover{
  text-decoration-line:underline;
  text-decoration-color: rgb(172, 83, 0);
  text-decoration-style: solid;
}
.post-home .item-post-left .pagination{
  margin-top: 8px;
}
.post-home .item-post-left .pagination .box-post{
  background-color: #A5A5A5;
  color: white;
  float: left;
  font-size: 12px;
  padding: 2px 6px;
  margin: 0 3px 0 3px;
  text-decoration: none;
  transition: background-color .3s;
}
.post-home .item-post-left .pagination .box-post .hiden{
  display: none;
}
.post-home .item-post-left  .pagination a.active {
  background-color: red;
  color: white;
}
.post-home .item-post-left  .pagination a:hover:not(.active) {
  background-color: #A5A5A5;
}



.post-home .item-post-left .wrap-image {
  padding-top: 55%;
}

.title-header {
  display: block;
  margin-bottom: 25px;
  border-bottom: 2px solid #78000f;
}
.title-header .main {
  color: #fff;
  font-family: arial, verdana;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  top: 0px;
  padding: 6px 16px 5px 13px;
  background: #78000f;
  margin-left: 0;
  font-family: roboto;
}
.title-header .main:after {
  border-color: #78000f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  width: auto;
  height: auto;
  bottom: -20px;
  margin-left: -10px;
  left: 50%;
  top: 100%;
  border-width: 10px;
  border-style: solid;
}

.title-header.custom {
  margin-bottom: 0px;
  background: #94646a;
}

.content-left .list-child-category {
  float: right;
}
.content-left .list-child-category a {
  display: inline-block;
  padding: 5px 8px;
  color: #888888;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: none !important;
  border: none !important;
  font-family: roboto;
}
.content-left .item-post-left .image {
  position: relative;
}
.content-left .item-post-left .image .wrap-image {
  display: block;
  padding-top: 64%;
  position: relative;
  overflow: hidden;
}
.content-left .item-post-left .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.content-left .item-post-left .image .wrap-image img:hover {
  transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
.content-left .item-post-left .des {
  color: #404041;
}
.content-left .item-post-left .title {
  margin: 10px 0px;
  display: block;
  border-bottom: none;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  font-family: roboto;
  color: #404041;
  font-style: normal;
}
.content-left .item-post-left .title:hover {
  color: #78000f;
}
.content-left .item-post-right .child {
  margin-bottom: 10px;
}
.content-left .item-post-right .child .box-post-child {
  display: block;
  color: #404041;
  margin-bottom: 15px;
}
.content-left .item-post-right .child .box-post-child:hover {
  color: #78000f;
}
.content-left .item-post-right .child .box-post-child .image {
  width: 100px;
  float: left;
  position: relative;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image img:hover {
  transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
.content-left .item-post-right .child .box-post-child .title {
  float: right;
  width: calc(100% - 110px);
}
.sidebar{
  width: 100%;
}
.sidebar .link_fanpage_info{
  width: 100%;
}
.sidebar .link_fanpage_info .fanpage{
  margin-left: 10px;
}
.sidebar .link_slider{
  width: 100%;
  height: auto;
}
.sidebar .link_slider a img{
  padding-bottom:10px ;
}

.sidebar .owl-carousel-sidebar {
  height: 150px;
  overflow: hidden;
}
.sidebar .suggetion-video ul {
  margin: 0px;
  padding: 0px;
  max-height: 150px;
  overflow-y: scroll;
}
.sidebar .suggetion-video ul li {
  list-style: none;
  font-size: 12px;
  padding: 5px;
}
.sidebar .suggetion-video ul li span:first-child {
  display: inline-block;
  margin-right: 10px;
}
.sidebar .suggetion-video ul li.active {
  background: #ececec;
}
.sidebar .suggetion-video .item-video-suggetion {
  position: relative;
}
.sidebar .suggetion-video .item-video-suggetion:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sidebar .suggetion-video .item-video-suggetion:hover:after {
  cursor: pointer;
}
.sidebar .marquee-sidebar-advertisement {
  position: relative;
  box-sizing: border-box;
  animation: marquee 30s linear infinite;
  text-align: center;
}
.sidebar .marquee-sidebar-advertisement .item-marquee-left {
  position: absolute;
}
.sidebar .marquee-sidebar-advertisement .item-marquee-left img {
  max-width: 100%;
}
.sidebar .marquee-sidebar-advertisement .item-marquee-down {
  height: 144px;
  padding-top: 15px;
  width: 100%;
}
.sidebar .marquee-sidebar-advertisement .item-marquee-down a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}
.sidebar .marquee-sidebar-advertisement .item-marquee-down img {
  display: inline-block;
  height: 100%;
  max-width: 100%;
}
.sidebar .container-marquee {
  height: 720px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.sidebar .link-website {
  padding: 20px 10px;
  background: #94646a;
}
.sidebar .link-website select {
  max-width: 100%;
  padding: 7px 10px;
}
.sidebar .link-website select:focus {
  outline: none;
}

.footer .advertisement-footer {
  padding-bottom: 25px;
  border-bottom: 1px solid #bfd87c;
}
.footer .advertisement-footer .marquee-sidebar-advertisement {
  height: auto;
}
.footer .advertisement-footer .item-marquee-left a {
  display: block;
  text-align: center;
}
.footer .advertisement-footer .item-marquee-left img {
  display: inline-block;
  height: 90px;
  width: auto;
  margin-right: 10px;
}
.footer .footer-bottom {
  margin-top: 30px;
  background: #78000f;
}
.footer .footer-bottom .top {
  padding-top: 7px;
  margin-bottom: 7px;
  display: flex;
}
.footer .footer-bottom .top .menu-footer ul {
  margin: 0px;
  padding: 0px;
}
.footer .footer-bottom .top .menu-footer ul li {
  display: inline-block;
  list-style: none;
}
.footer .footer-bottom .top .menu-footer ul li a {
  display: block;
  color: white;
  padding: 7px 15px;
}
.footer .footer-bottom .top .menu-footer ul li:first-child a {
  padding-left: 0px;
}
.footer .footer-bottom .top .list-social {
  display: flex;
}
.footer .footer-bottom .top .list-social > div {
  width: 32px;
  padding: 7px;
  background: white;
  margin-right: 7px;
  text-align: center;
  transition: all 0.4s;
}
.footer .footer-bottom .top .list-social > div:hover {
  transition: all 0.4s;
  background: #94646a;
}
.footer .footer-bottom .top .list-social > div:hover i {
  color: white;
}
.footer .footer-bottom .top .list-social > div i {
  color: #78000f;
}
.footer .footer-bottom .container {
  background-image: url("../img/bg-footer.png");
  background-size: cover;
  width: 100%;
}
.footer .footer-bottom .contact {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.26);
}
.footer .footer-bottom .contact > div {
  color: white;
}

.box-post .left {
  position: relative;
}
.box-post .left .image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.box-post .left .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.box-post .right .title {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: arial, roboto;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 20px;
  line-height: 28px;
}
.box-post .right .title a {
  color: #1c1c1c;
}
.box-post .right .title a:hover {
  text-decoration: underline;
}

.line-pagination {
  margin-top: 20px;
  border-top: 1px dashed #8a8a8a;
  padding-top: 10px;
}

.pagination-category {
  text-align: center;
}
.pagination-category .pagination {
  display: inline-flex;
}
.pagination-category .pagination .page-numbers {
  margin: 0px 3px;
  padding: 3px 10px;
  background: #eaecef;
  border-radius: 2px;
  color: #78000f;
  display: inline-block;
  line-height: 23px;
  transition: all ease 0.3s;
}
.pagination-category .pagination .page-numbers.current {
  background: #78000f;
  color: white;
}
.pagination-category .pagination .next > div {
  width: 10px;
  padding-right: 5px;
  height: 20px;
  position: relative;
  text-align: center;
}
.pagination-category .pagination .next > div:after {
  content: "";
  position: absolute;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  line-height: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.pagination-category .pagination .prev > div {
  width: 10px;
  padding-right: 5px;
  height: 20px;
  position: relative;
  text-align: center;
}
.pagination-category .pagination .prev > div:after {
  content: "";
  position: absolute;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  line-height: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.data-empty {
  width: 80%;
  margin: auto;
  font-size: 25px;
  margin-top: 50px;
}

.post-detail {
  margin-top: 50px;
}
.post-detail .title {
  color: #78000f;
  font-size: 23px !important;
  font-family: roboto;
  font-weight: 700;
}
.post-detail .time-create-date {
  border-bottom: 1px solid #efefef;
  padding-bottom: 7px;
}

.tag-post {
  padding: 10px 0px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 30px;
}
.tag-post .tag-name {
  padding: 4px;
  margin-right: 5px;
  background: #78000f;
  display: inline-block;
  color: white;
  margin-bottom: 5px;
}
.tag-post .title-tag {
  color: white;
  background: #78000f;
  display: inline-block;
  padding: 4px;
  padding-right: 7px;
  padding-left: 30px;
  position: relative;
}
.tag-post .title-tag:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-right: 15px #78000f solid;
  border-top: 15px white solid;
  border-bottom: 14px white solid;
}
.tag-post .title-tag:before {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #F6F6F6;
  top: 12px;
  left: 15px;
  content: "";
  z-index: 99;
}

.related-post {
  padding: 10px 0px;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 30px;
}
.related-post .post-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #e8e8e8;
}
.related-post .post-item:after {
  position: absolute;
  left: 5px;
  top: 0px;
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  background: #57677d;
  border-radius: 1px;
  margin-right: 4px;
  margin: 7px 10px 2px 0;
}
.related-post .post-item a {
  color: #333;
}
.related-post .post-item a:hover {
  color: #78000f;
}
.related-post .post-item:last-child {
  border-bottom: none;
}

.social {
  padding: 10px 0px;
  border-bottom: 1px solid #e8e8e8;
}

.form-contact {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #e8e8e8;
}
.form-contact .input-form-contact {
  width: 100%;
  padding: 5px 10px;
}
.form-contact .left {
  float: left;
  width: 30%;
}
.form-contact .right {
  float: left;
  width: 70%;
  margin-bottom: 15px;
}
.form-contact .wpcf7-submit {
  padding: 7px 15px;
  margin: auto;
  background: #78000f;
  color: white;
  border: none;
  border-radius: 7px;
  float: right;
}
.form-contact .wpcf7-submit:focus {
  outline: none;
}
.form-contact input {
  border: 1px solid #7d7d7dcc;
  border-radius: 7px;
  box-shadow: none;
}
.form-contact input:focus {
  outline: none;
}
.form-contact textarea {
  border: 1px solid #7d7d7dcc;
  border-radius: 7px;
  box-shadow: none;
}
.form-contact textarea:focus {
  outline: none;
}

#back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 1;
  cursor: pointer;
}
.container {
  max-width: 990px;
}
.home-page.row{
  margin: 0 -5px;
}
.home-page .col-md-7 {
  padding: 0px 5px;
}
.home-page .col-md-5, .home-page .col-md-7 {
  padding: 0px 5px;
}
.home-page .right.col-md-5{
  padding-right: 0px !important;
}
@media (max-width: 767px) {
  .header .header-bottom .right {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .header .header-bottom .right .form-search {
    left: 10px;
  }
  .header .header-bottom .menu-top {
    box-shadow: 0px 2px 3px 1px #ddd;
    visibility: hidden;
    opacity: 0;
    top: 100px;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .header .header-bottom .menu-top ul {
    padding: 0px;
  }
  .header .header-bottom .menu-top .sub-menu {
    padding-left: 10px;
  }
  .header .header-bottom .menu-top li {
    display: block;
    padding: 5px 10px;
    list-style: none;
    border-top: 1px solid #ccc;
  }
  .header .header-bottom .menu-top a {
    color: black;
  }
  .header .header-bottom .menu-top .menu > li > a {
    font-size: 16px;
    color: #78000f;
  }
  .header .header-bottom .menu-top.active {
    border-top: none;
    height: auto;
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
  }

  .breadscumb-row .marquee-list {
    margin: 20px 0px;
  }

  .post-home .left {
    width: 100%;
    float: none;
  }
  .post-home .right {
    width: 100%;
    float: none;
    border-left: none;
    max-height: 100%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    overflow-y: inherit;
  }
  .post-home .item-post-right {
    padding: 0px;
  }
  .post-home .item-post-left {
    padding: 0px;
  }

  .footer .footer-bottom .top {
    display: inherit !important;
  }
  .footer .footer-bottom .top .list-social {
    margin-left: auto;
  }

  .social {
    border: none;
    display: flex;
  }

  .container {
    padding: 0 10px;
  }

  .row {
    margin: 0 -10px;
  }

  div[class*=col-sm] {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) {
  .header .header-bottom .menu-top {
    padding-right: 80px;
    border-bottom: 0.5px solid #ccc;
  }
  .header .header-bottom .menu-top .menu > li:first-child a {
    padding-left: 0;
  }
  .header .header-bottom .menu-top ul {
    margin: 0px;
    padding: 0px;
  }
  .header .header-bottom .menu-top ul > li {
    display: inline-block;
    list-style: none;
    position: relative;
  }
  .header .header-bottom .menu-top ul > li a {
    font-family: arial, verdana;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 25px;
    text-shadow: none;
    color: #000;
    line-height: 24px;
    display: block;
    position: relative;
  }
  .header .header-bottom .menu-top ul > li a:hover {
    text-decoration: none;
  }
  .header .header-bottom .menu-top ul > li a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-bottom: 3px solid;
    transform: scale(0) translateZ(0);
    transition: transform 0.45s ease, opacity 0.55s ease;
  }
  .header .header-bottom .menu-top ul > li:hover > a {
    color: #78000f;
  }
  .header .header-bottom .menu-top ul > li:hover > a:after {
    opacity: 1;
    transform: scale(1) translateZ(0);
    color: #78000f;
  }
  .header .header-bottom .menu-top ul > li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  .header .header-bottom .menu-top ul > li > ul {
    background: white;
    top: 120%;
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: all ease 0.3s;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 999;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-left: 1px transparent solid;
    min-width: 200px;
  }
  .header .header-bottom .menu-top ul > li > ul li {
    position: relative;
    white-space: nowrap;
    display: block;
  }
  .header .header-bottom .menu-top ul > li > ul li a {
    font-size: 12px;
    padding: 6px 8px 6px 10px;
    text-transform: capitalize;
  }
  .header .header-bottom .menu-top ul > li > ul li a:after {
    content: none;
  }
  .header .header-bottom .menu-top ul > li > ul li:hover {
    background: #E8E8E8;
  }
  .header .header-bottom .menu-top ul > li > ul li:hover > ul {
    display: block;
  }
  .header .header-bottom .menu-top ul > li > ul li > ul {
    position: absolute;
    top: 0 !important;
    left: 100%;
    background: white;
    display: none;
  }
  .header .header-bottom .menu-top ul > li.icon-home a {
    color: transparent;
    position: relative;
  }
  .header .header-bottom .menu-top ul > li.icon-home a:before {
    left: 8px;
    width: 20px;
    height: 20px;
    content: "";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    display: inline-block;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #000;
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
  .header .header-bottom .menu-top ul > li.icon-home:hover > a:after {
    color: #78000f;
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}

#box_most_popular{
  display: block;
  height: auto;
  margin-bottom: 6px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  border: 0.2px solid #e6e3e3;
}

.box_title_holder{
  display: block;
  height: auto;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;

  background: url(../img/box_right_head_right.gif)top left no-repeat;
}

.box_title_holder .box_title{
  display: block;
  height: auto;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  width: 99%;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  color: rgb(0, 0, 0);
}

.box_title_holder .box_title h4{
  display: block;
  height: auto;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 4px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-shadow: rgb(187, 187, 187) 1px 1px 1px;

  color: rgb(138, 0, 0);
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  margin-block-end: 4px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}

#box_most_popular .box_body{
  display: block;
  height: auto;
  width: 99.9%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}

#box_most_popular .box_body .box_content{
  display: block;
  height: auto;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  width: 99%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}

#box_most_popular .box_body .box_content ul{
  display: block;
  height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;

  list-style-type: disc;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

#box_most_popular .box_body .box_content ul li{
  display: list-item;
  height: auto;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  list-style-position: outside;
  list-style-type: none;
}

#box_most_popular .box_body .box_content ul li a{
  display: block;
  height: auto;
  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 2px;
  padding-top: 2px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  text-decoration-color: rgb(172, 83, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;

  color: rgb(172, 83, 0);
  background: url(../img/bullet_arrow.gif) 6px 5px no-repeat;
  cursor: pointer;

  list-style-position: outside;
  list-style-type: none;
}

#box_most_popular .box_body .box_content ul li a:hover{
  text-decoration: underline;
}
#box_most_popular .box_body .box_content ul li:last-of-type{
  border-bottom: none;
}


#article_holder{
  display: block;
  height: auto;
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 0px;
  position: relative;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}

.othernews-header{
  display: block;
  height: auto;
  margin-bottom: 10px;
  position: relative;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;

  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/othernews-header.gif);
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;

  background-size: auto;
}

.othernews-header .othernews-title{
  display: block;
  float: left;
  height: auto;
  padding-right: 5px;
  width: 100%;

  font-family: arial;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;

  color: rgb(138, 0, 0);
  background-color: rgb(255, 255, 255);
}

.othernews-header .txtr{
  display: block;
  height: auto;
  margin-bottom: 10px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
}

.othernews-header .txtr a{
  display: inline;
  height: auto;
  width: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
  text-decoration-color: rgb(172, 83, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;

  color: rgb(172, 83, 0);
  cursor: pointer;
}

#article_holder .othernews{
  display: block;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}


#article_holder .othernews .box_content{
  display: block;
  height: auto;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}

#article_holder .othernews .box_content ul{
  height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;

  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}

#article_holder .othernews .box_content ul li{
  display: list-item;
  height: auto;
  padding-left: 6px;
  position: relative;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;

  background: url(http://www.daophatngaynay.com/vn/themes/ngodung/img/bullet_arrow.gif) 0px 3px no-repeat;

  list-style-image: none;
  list-style-position: outside;
  list-style-type: none; 
}

#article_holder .othernews .box_content ul li a{
  display: inline;
  height: auto;
  width: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  text-decoration-color: rgb(172, 83, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;

  color: rgb(172, 83, 0);
  cursor: pointer;

  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}