@charset "UTF-8";
body {
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

.header .banner a {
  display: block;
}
.header .banner img {
  max-width: 100%;
}
.header .header-bottom .menu-top {
  border-bottom: 0.5px solid #ccc;
}
.header .header-bottom .menu-top ul {
  margin: 0px;
  padding: 0px;
}
.header .header-bottom .menu-top ul > li {
  display: inline-block;
  list-style: none;
  position: relative;
}
.header .header-bottom .menu-top ul > li a {
  font-family: arial, verdana;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 25px;
  text-shadow: none;
  color: #000;
  line-height: 24px;
  display: block;
  position: relative;
}
.header .header-bottom .menu-top ul > li a:hover {
  text-decoration: none;
}
.header .header-bottom .menu-top ul > li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-bottom: 3px solid;
  transform: scale(0) translateZ(0);
  transition: transform 0.45s ease, opacity 0.55s ease;
}
.header .header-bottom .menu-top ul > li:hover > a {
  color: #78000f;
}
.header .header-bottom .menu-top ul > li:hover > a:after {
  opacity: 1;
  transform: scale(1) translateZ(0);
  color: #78000f;
}
.header .header-bottom .menu-top ul > li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header .header-bottom .menu-top ul > li > ul {
  background: white;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: all ease 0.3s;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 999;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  border-left: 1px transparent solid;
  min-width: 200px;
}
.header .header-bottom .menu-top ul > li > ul li {
  position: relative;
  white-space: nowrap;
  display: block;
}
.header .header-bottom .menu-top ul > li > ul li a {
  font-size: 12px;
  padding: 6px 8px 6px 10px;
  text-transform: capitalize;
}
.header .header-bottom .menu-top ul > li > ul li a:after {
  content: none;
}
.header .header-bottom .menu-top ul > li > ul li:hover {
  background: #E8E8E8;
}
.header .header-bottom .menu-top ul > li > ul li:hover > ul {
  display: block;
}
.header .header-bottom .menu-top ul > li > ul li > ul {
  position: absolute;
  top: 0 !important;
  left: 100%;
  background: white;
  display: none;
}
.header .header-bottom .menu-top ul > li.icon-home a {
  color: transparent;
  position: relative;
}
.header .header-bottom .menu-top ul > li.icon-home a:before {
  left: 8px;
  width: 20px;
  height: 20px;
  content: "ï€•";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  display: inline-block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #000;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
.header .header-bottom .menu-top ul > li.icon-home:hover > a:after {
  color: #78000f;
  opacity: 1;
  transform: scale(1) translateZ(0);
}

.breadscumb-row {
  margin-top: 20px;
}
.breadscumb-row .title-home {
  background: none;
}
.breadscumb-row .title-home a {
  display: inline-block;
  position: relative;
  background: linear-gradient(#94646a, #78000f);
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.breadscumb-row .title-home a:after {
  border-color: #78000f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  content: "";
  width: auto;
  height: auto;
  bottom: -20px;
  margin-left: -10px;
  left: 50%;
  top: 100%;
  border-width: 10px;
  border-style: solid;
}
.breadscumb-row .marquee-list .item-marquee {
  display: inline-block;
  margin-right: 50px;
}
.breadscumb-row .marquee-list .item-marquee a {
  color: #000;
}
.breadscumb-row .marquee-list .item-marquee a:hover {
  color: #78000f;
}
.breadscumb-row #current-time {
  color: #78000f;
}

.post-home .left {
  float: left;
  width: 60%;
}
.post-home .right {
  float: right;
  width: 40%;
  max-height: 445px;
  overflow-y: scroll;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.post-home .image {
  position: relative;
}
.post-home .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.post-home .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
}
.post-home .item-post-right {
  padding-left: 10px;
  margin-bottom: 10px;
}
.post-home .item-post-right .image {
  float: left;
  width: 80px;
  display: inline-block;
}
.post-home .item-post-right .image .wrap-image {
  padding-top: 75%;
}
.post-home .item-post-right .title {
  float: right;
  display: inline-block;
  width: calc(100% - 90px);
}
.post-home .item-post-right .child {
  padding-bottom: 10px;
  border-bottom: 1px dashed #d1d1d1;
}
.post-home .item-post-right:last-child .child {
  border: none;
}
.post-home a {
  display: block;
  color: #404041;
}
.post-home a.active {
  color: #78000f;
}
.post-home .title:hover {
  color: #78000f !important;
}
.post-home .item-post-left {
  padding-right: 10px;
}
.post-home .item-post-left .title {
  margin-top: 5px;
  display: block;
  border-bottom: none;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  font-family: RobotoBold;
  color: #404041;
  font-style: normal;
  margin-bottom: 0px;
}
.post-home .item-post-left .wrap-image {
  padding-top: 55%;
}

.title-header {
  display: block;
  margin-bottom: 25px;
  border-bottom: 2px solid #78000f;
}
.title-header .main {
  color: #fff;
  font-family: arial, verdana;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  top: 0px;
  padding: 6px 16px 5px 13px;
  background: #78000f;
  margin-left: 0;
}
.title-header .main:after {
  border-color: #78000f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  position: absolute;
  content: " ";
  width: auto;
  height: auto;
  bottom: -20px;
  margin-left: -10px;
  left: 50%;
  top: 100%;
  border-width: 10px;
  border-style: solid;
}

.content-left .list-child-category {
  float: right;
}
.content-left .list-child-category a {
  display: inline-block;
  padding: 5px 8px;
  color: #888888;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: none !important;
  border: none !important;
}
.content-left .item-post-left .image {
  position: relative;
}
.content-left .item-post-left .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.content-left .item-post-left .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.content-left .item-post-left .image .wrap-image img:hover {
  transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
.content-left .item-post-left .des {
  color: #404041;
}
.content-left .item-post-left .title {
  margin: 10px 0px;
  display: block;
  border-bottom: none;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  font-family: RobotoBold;
  color: #404041;
  font-style: normal;
}
.content-left .item-post-left .title:hover {
  color: #78000f;
}
.content-left .item-post-right .child {
  margin-bottom: 10px;
}
.content-left .item-post-right .child .box-post-child {
  display: block;
  color: #404041;
  margin-bottom: 15px;
}
.content-left .item-post-right .child .box-post-child:hover {
  color: #78000f;
}
.content-left .item-post-right .child .box-post-child .image {
  width: 100px;
  float: left;
  position: relative;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image {
  display: block;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.content-left .item-post-right .child .box-post-child .image .wrap-image img:hover {
  transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
}
.content-left .item-post-right .child .box-post-child .title {
  float: right;
  width: calc(100% - 110px);
}

.sidebar .owl-carousel-sidebar {
  height: 150px;
  overflow: hidden;
}