.menu-menu-footer-1-container{
    width: 100%;
    height: auto;
    display: block;
    background: url(../img/footer_bg.gif) repeat-x left bottom;
}

.menu-menu-footer-1-container ul{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu-menu-footer-1-container ul li{
    display: inline;
    border-left: 1px solid rgba(128, 128, 128, 0.7);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menu-menu-footer-1-container ul li:first-child{
	border-left: none;
}

.menu-menu-footer-1-container ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration-color: rgb(23, 41, 115);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: uppercase;

    color: rgb(23, 41, 115);
    cursor: pointer;
}

.menu-menu-footer-1-container ul li a:hover{
    box-shadow: 0 1px;
}

.menu-menu-footer-2-container{
    width: 100%;
    display: block;

	height: auto;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;

	color: rgb(102, 102, 102);
	background-color: rgb(239, 239, 239);
	border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.menu-menu-footer-2-container ul{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.menu-menu-footer-2-container ul li{
    display: inline;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
}

.menu-menu-footer-2-container ul li a{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;

	color: rgb(102, 102, 102);

	list-style-position: outside;
	list-style-type: none;

}

.menu-menu-footer-2-container ul li a:hover{
    box-shadow: 0 1px;
}

.footer_info{
	display: block;
	height: auto;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	width: 100%;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;

	color: rgb(102, 102, 102);
	background-color: rgb(239, 239, 239);
}